.r_labelstyle-tagLabel {
  height: inherit;
  line-height: 1;
  width: inherit;
  font-family: Roboto, sans-serif;
  font-size: 10px;
  text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 2px;
  padding: 2px 4px;
  border-radius: 3px;
  margin: 0px 2px 3px 0px;
  color: #fff;
  float: left;
  display: block;
  font-weight: 600;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
}
